:root {
  --main-bg-color: #c7b299;
  --main-font-color: #2e6d45;
  --sidebar-width: 200px;
  --box-shadow: 2px 1px 10px #00000029;
}
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
iframe {
  display: none !important;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Rye', cursive;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: var(--main-bg-color);
}
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
* {
  font-family: 'Rye', cursive;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.page-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.stake-box {
  border-radius: 21px;
  border: 3px solid rgba(39, 39, 39, 0.6);
  border-collapse: collapse;
  background: linear-gradient(237.15deg, rgba(199, 178, 153, 0) -7.38%, rgba(199, 178, 153, 0.2) 97.96%) !important;
  padding: 3%;
}
.staking-buttons {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
.staking-btn {
  font-size: 24px;
  padding: 1.5rem;
  border-radius: 12px;
  border: 3px solid rgba(39, 39, 39, 0.6);
  background: transparent;
  color: #B22234;
  font-weight: bolder;
}

.divider {
  margin-bottom: 40px !important;
}
